body, html {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background-image: url('../img/tailgate/tailgate-background.jpg');
}

.centered {
    text-align: center;
}

.nobr{
    white-space: nowrap;
}

#tailgate {

}

#tailgate header {
    background-color: #1f1919;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cabin', sans-serif;
}

#tailgate header a {
    text-decoration: none;
    color: #e3ded8;
}

#tailgate header .header--title {
    margin: 0 0 0 10px;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 1px;
}

#tailgate .wrapper {
    width: 100%;
    max-width: 778px;
    margin: 0 auto;
}

#tailgate section.bordered {
    border-bottom: 2px solid #9e5a5a;
}

#tailgate section.narrow {
    width: 100%;
    max-width: 670px;
    margin: 0 auto;
}

#tailgate section.narrow--bordered {
    border-bottom: 3px solid #000000;
}

#tailgate .tailgate__logo {
    margin: 25px auto 0 auto;
    width: 100%;
    max-width: 742px;
}

#tailgate .tailgate__logo--small {
    margin: 25px auto 0 auto;
    width: 100%;
    max-width: 290px;
}

#tailgate .tailgate__details {
    font-size: 20px;
    text-transform: uppercase;
}

#tailgate .tailgate__title {
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    margin: 42px 0 0 0;
    line-height: 38px;
}

#tailgate .tailgate__description {
    font-size: 18px;
    margin: 3px auto;
    line-height: 30px;
}

#tailgate .tailgate__experience {
    font-size: 20px;
    margin: 18px 0 34px 0;
}

#tailgate .tailgate__experience a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

#tailgate .tailgate__video {
    margin: 36px 0 0;
    overflow: hidden;
    position: relative;
    padding: 0 0 56.25% 0;
}

#tailgate .tailgate__video iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#tailgate .venue {
    padding: 32px 0;
}

#tailgate .venue .venue__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 10px 0;
}

#tailgate .venue .venue__date, .venue__tickets {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

#tailgate .venue .venue__tickets {
    margin: 7px 0 0 0;
}

#tailgate .venue .venue__cta {
    color: #8e3c3c;
    border: 3px solid #8e3c3c;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    display: block;
    width: 100%;
    padding: 16px 0;
    margin: 18px 0 0 0;
    text-decoration: none;
}

#tailgate .venue .venue__cta:hover {
    color: #fff;
    background-color: #8e3c3c;
}

#tailgate .tailgate__extras {
    margin: 30px 0 50px 0;
}

#tailgate .two-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#tailgate .zamily__image__link {
    padding: 10px 0;
    display: block;
}

#tailgate .zamily__description {
    text-align: left;
    margin: 0 0 0 30px;
}

#tailgate .zamily__description a{
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

#tailgate .tailgate__bottom-image {
    margin: 50px 0 0 0;
    width: 90%;
    max-width: 744px;
}

footer {
    height: 70px;
    background-color: #010101;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 10px;
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

footer a {
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width: 699px) {

    #tailgate .tailgate__title {
        font-size: 4.857vw;
        line-height: 5.43vw;
    }

    #tailgate .tailgate__description {
        line-height: 4.29vw;
    }

    #tailgate .venue .venue__cta {
        font-size: 4.57vw;
    }

    #tailgate .two-column {
        flex-direction: column;
    }

    #tailgate .zamily__image__link {
        padding: 0;
        margin: 30px 0 0 0;
    }

    #tailgate .zamily__description {
        text-align: center;
        margin: 20px 5% 50px;
    }

    footer {
        flex-direction: column;
    }

    footer .xs--hidden {
        display: none;
    }

    footer .footer__link {
        margin: 10px 0 0 0;
    }
}

@media screen and (max-width: 1039px) {
    #tailgate .wrapper {
        width: 90%;
    }
}